*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #eee;
    font-family: 'Lato', sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}

div.wrapper{
    width: 1200px;
    margin: 30px auto;
    padding: 30px;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
}
header{
    flex: 0 0 50%;
    align-content: center;
    font-weight: bolder;
}
ul{
    display: flex;
    flex: 0 0 50%;
    gap: 15px;
    margin-left: 25px;
}

li{
    border: 1px solid #eee;
    background-color: #eee;
    border-radius: 5px;
    list-style-type: none;
}
a{
    display: block;
    margin: 15px 20px;
    font-weight: bold;
}

@media (max-width: 800px ){
    div.wrapper{
        width: 750px;
    }
    header{
        flex: 0 0 25%
    }
    ul{
        flex: 0 0 75%;
        gap: 10px   ;
        margin-left: 0px;
    }
}

