.flex-container {
    padding: 1em;
    border: 2px solid blue;
    display: flex;
    align-items: flex-start;
    width: 300px;
    height: 400px;
}

div.flex-container div.flex-item {
    background: #eee;
    padding: 20px;
    border: 2px solid black;
}

.align-self-flex-start div.flex-item:nth-child(2){
    align-self: flex-start;
}
.align-self-center div.flex-item:nth-child(2){
    align-self: center;
}
.align-self-flex-end div.flex-item:nth-child(2){
    align-self: flex-end;
}
.align-self-baseline div.flex-item:nth-child(2){
    align-items: baseline;
}