.flex-container{
    width: 400px;
    padding: 1em;
    border: 2px solid blue;
    display: flex;
}

div.flex-container div.flex-item{
    background: #eee;
    padding: 20px;
    border: 2px solid black;
}

.flex-basis-5em div.flex-item{
    flex-basis: 5em;
}

.flex-shrink-zero div.flex-item{
    flex-shrink: 0;
    flex-basis: 5em;
}

.flex-grow-one{
    width: 900px;
    flex-basis: 5em;
}
.flex-grow-one div.flex-item{
    flex-grow: 1;
    flex-basis: 5em;
}
