*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: silver;
}

.loginForm{
    background-color: white;
    width: 400px    ;
    margin: 40px auto;
    border: 1px solid white;
    border-radius: 5px;
    padding: 20px 30px; 
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
h3{
    margin-bottom: 30px ;
}
fieldset{
    display: flex;
    flex-direction: column;
    gap: 40px;
    border: none
    
}
.field{
    display: flex;
    flex-direction: column;
    position: relative;
}

.field label{
    font-weight: 800;
    opacity: 0.7;
    font-size: 14px;
}
.field input[type=email],
.field input[type=text],
.field textarea
{
    border: none;
    border-bottom: 2px solid #DDD;
}
.field input[type=email]:focus,
.field input[type=text]:focus,
.field textarea:focus
{
    outline: none;
}
fieldset .field:nth-child(2)::after{
    content: "example: john.doe@gmail.com";
    opacity: 0.7;
    font-style: italic;
    font-size: 12px;
    margin-top: 2px;
}
fieldset .field:nth-child(1)::after{
    content: "First and Last name is enough";
    opacity: 0.7;
    font-style: italic;
    font-size: 12px;
    margin-top: 2px;
}
fieldset .field:nth-child(1)::after{
    content: "First and Last name is enough";
    opacity: 0.7;
    font-style: italic;
    font-size: 12px;
    margin-top: 2px;
}
fieldset .field:nth-child(3)::after{
    content: "What is this about?";
    opacity: 0.7;
    font-style: italic;
    font-size: 12px;
    margin-top: 2px;
}
fieldset .field:nth-child(4)::after{
    content: "Let us know whan you need";
    opacity: 0.7;
    font-style: italic;
    font-size: 12px;
    margin-top: 2px;
}
fieldset .field:nth-child(4) label{
    margin-bottom: 20px;
}

input[type=submit]{
    padding: 12px 10px;
    border: none;
    background-color: #E9E9ED;
    border-radius: 5px;
    color: black;
    font-weight: 800;
    margin-top: 30px;
}

